* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#posibilities {
    margin: 80px 0;
}

.main-title h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.main-title p {
    font-size: 24px;
    margin-bottom: 40px;
}

.posibilities-data {
    display: flex;
}

.posibilities-data .data img {
    width: 80px;
    height: 80px;
}

.posibilities-data .data h3 {
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.posibilities-data .data p {
    font-size: 19px;
}

.container .img img {
    width: 520px;
    height: 520px;
}

#work .container {
    display: flex;
}

#work {
    margin: 60px 0;
}

#work .container .work-data {
    margin: 0 90px;
}

.work-data h3 {
    font-size: 20px;
    margin-bottom: 14px;
}

.work-data p {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 26px;
}

.work-data .btn {
    width: 180px;
    height: 45px;
    background-color: #f20091;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
    padding: 10px 26px;
}

#control .container {
    display: flex;
}

#control {
    margin: 60px 0;
}

.inner-data {
    display: flex;
}

.inner-data .chat img,
.inner-data .mobile img {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

.chat,
.mobile {
    padding-right: 30px;
}

.control-img img {
    width: 540px;
    height: 540px;
}

.inner-data .chat h3,
.inner-data .mobile h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.chat p,
.mobile p {
    font-size: 20px;
}

#secure .container {
    display: flex;
}

.secure-img img {
    width: 500px;
    height: 500px;
}

.inner-data .pay img,
.inner-data .support img {
    width: 70px;
    height: 70px;
    margin-bottom: 25px;
}

.pay h3,
.support h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.pay p,
.support p {
    font-size: 20px;
}

.secure-data {
    padding: 0 70px;
}

.pay,
.secure {
    padding-right: 30px;
}

#design {
    margin: 60px 0;
}

.page-design {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 15px 23px;
}

.page-design img {
    width: 374px;
    margin-top: 35px;
}

.page-design h3 {
    font-size: 20px;
    padding: 3px 0;
}


button {
    background-color: #f20091;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 17px;
    border-radius: 3px;
    margin-top: 50px;
}

.btn {
    display: flex;
    justify-content: center;
}

#help {
    background-color: rgb(31, 40, 54);
    color: white;

}

#help .container .main-title h2 {
    padding-top: 50px;
}

.help-data {
    width: 70%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 0 100px;
}

.help-data a {

    display: inline-block;
    width: 44%;
    color: white;
    font-size: 22px;
    padding-bottom: 50px;
}

#footer {
    background-color: black;
}

.about-title {
    padding-top: 40px;
    display: flex;
    gap: 0 75px;
}

.freelancer-img {
    width: 130px;
    height: 130px;
    color: white;
}

.about-title a {
    text-decoration: none;
    color: white;
}

.about-title li {
    padding-bottom: 5px;
    list-style-type: none;
}

.about-title h3 {
    padding-bottom: 10px;
    color: white;
}
.apps i{
    display: inline-block;
    font-size: 23px;
    
}
.apps img{
    
}
.apps a{
    padding-right: 17px;
}