@font-face {
    font-family: 'CaviarDreams';
    src: url(../fonts/CaviarDreams.ttf);
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family:'CaviarDreams' ;
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(243, 230, 231);
}
.back{
    width: 70%;
    height: 80vh;
    margin: 70px 150px;
    background-color: white;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: -10px 5px 30px 0px rgb(0, 0, 0, 0.3);
    
}  
.data{
    width: 50%;
    height: 100%;
    font-family:'CaviarDreams' ;
    text-align: center;
    padding: 0px;
    float: left;
    color: brown;
} 
.img-bg{
    width: 50%;
    height: 100%;
    float: left;
} 
.data p{
    margin: 20px 0 20px 0;
}
.s-icons .facebook,
.s-icons .google{
    width: 40px;
    height: 40px;
    border: 2px solid brown;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
}
i{
    color: brown;
    font-size: 20px;
    padding: 9px;
}
input{
    width: 250px;
    height: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    border: none;
    background-color: rgb(252, 229, 237);
}
h4{
    font-weight: bold;
    margin-top: 20px;
}
.btn{
    width: 90px;
    height: 30px;
    background-color: brown;
    margin: 30px 35%;
    border-radius: 50px
}
.btn p{
    color: white;
    padding-top: 4px;
}
.img-bg{
    width: 900px;
    height: 900px;
    position: absolute;
    background: url(./image/login.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    border-radius: 50%;
    top: -10%;
    left: 50%;

}