* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    color: black;
    font-size: 18px;
}

header nav>ul {
    list-style-type: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    margin-right: 24px;
    font-size: 18px;
}

/* .megamenu {
    position: absolute;
    top: 61px;
    left: 47%;
    background-color: grey;
    display: none;
    list-style-type: none;
    padding: 15px;
    opacity: 0;
}

.megamenu ul {
    list-style-type: none;
   
}

.megamenu > li {
    position: relative;
    padding: 20px;
}

.megamenu h3 {
    padding-bottom: 14px;
}

.megamenu > li::before {
    content: '';
    width: 2px;
    height: 80%;
    background-color: black;
    position: absolute;
    top: 17px;
    left: 0;
}

.megamenu ul::before:last-child {
    display: none;
}
.megamenu li:first-child::before{
    display: none;
}
header nav > ul > li:hover .megamenu{
    display: flex;
} */
header nav>ul>li {
    position: relative;
}

header .megamenu {
    position: absolute;
    top: 41px;
    right: 1px;
    opacity: 0;
}

header .megamenu li {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
    padding: 15px 12px;
}

header .megamenu li:hover {
    background-color: grey;
}

.megamenu li i {
    font-size: 15px;
}

.submenu {
    position: absolute;
    top: 50px;
    left: 99px;
    opacity: 0;
}

.submenu li {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
    padding: 15px 12px;
}

nav>ul>li:hover .megamenu {
    opacity: 1;
}

.megamenu > li:hover .submenu {
    opacity: 1;
}