* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

header .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: black;
    font-size: 18px;
}

header nav>ul {
    list-style-type: none;
    display: flex;
    gap: 0 24px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 0;
    display: inline-block;
}

/* .megamenu {
    position: absolute;
    top: 61px;
    left: 47%;
    background-color: grey;
    display: none;
    list-style-type: none;
    padding: 15px;
    opacity: 0;
}

.megamenu ul {
    list-style-type: none;
   
}

.megamenu > li {
    position: relative;
    padding: 20px;
}

.megamenu h3 {
    padding-bottom: 14px;
}

.megamenu > li::before {
    content: '';
    width: 2px;
    height: 80%;
    background-color: black;
    position: absolute;
    top: 17px;
    left: 0;
}

.megamenu ul::before:last-child {
    display: none;
}
.megamenu li:first-child::before{
    display: none;
}
header nav > ul > li:hover .megamenu{
    display: flex;
} */

header nav>ul>li {
    position: relative;
}
header nav>ul>li a i{
    font-size: 13px;
}
header nav>ul>li a:hover i{
    transform: rotate(90deg);
}

header nav>ul>li :hover {
    color: rgb(140, 55, 55);
}

header .megamenu {
    position: absolute;
    top: 51px;
    right: 0;
    display: none;
}

header .megamenu li {
    width: 100px;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
}

header .megamenu li a {
    display: inline-block;
    padding: 15px 14px;
    
}
header .megamenu li a i{
    font-size: 12px;
}

header .megamenu li:hover {
    background-color: grey;
}

header .megamenu li a:hover,
header .megamenu li a i:hover{
    color: white;
}

.megamenu>li {
    position: relative;
}

.submenu {
    position: absolute;
    top: 0;
    left: 99px;
    display: none;
}

nav>ul>li:hover .megamenu {
    display: block;
}

.megamenu>li:hover .submenu {
    display: block;
}