* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: rgb(240, 240, 240);
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

}

.left-title {
    display: flex;


}


.left-title ul {
    display: inline-block;
    list-style-type: none;
}

.left-title ul li {

    display: inline-block;
}

.right-title ul li a {
    text-decoration: none;
}

.left-title ul li i {
    color: rgb(119, 119, 119);
    padding: 10px 10px;
}

.left-title ul li i:hover {
    color: red;
}

.right-title {
    display: flex;
    position: relative;
    font-size: 15px;

}

.right-title ul {
    display: inline-block;
    list-style-type: none;
}

.right-title ul li {
    display: inline-block;
    padding: 10px 10px;
}

.right-title ul li a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    margin-right: 10px;
}

.right-title ul li a:hover {
    color: red;
}

select {
    border: none;
    color: rgb(119, 119, 119);
    font-size: 15px;

    outline: none;
}

li:last-child::after {
    display: none;
}

.right-title li::after {
    width: 2px;
    height: 13px;
    background-color: rgba(119, 119, 119, 0.411);
    content: '';
    position: absolute;
    margin: 2px 0;
    margin-left: 7px;
}

after:last-child {
    display: none;
}

/*******************************************************/
.page-blog {
    display: flex;
    gap: 0 20px;
    margin-top: 30px;
}

.blog {
    width: 33%;
    height: 350px;
    justify-content: space-around;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

.box-img {
    width: 100%;
    height: 65%;
    position: relative;
   
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}  

.blog p {
    color: rgb(232, 103, 100);
    font-size: 15px;
    margin: 10px;
}

.blog a {
    text-decoration: none;
    color: rgb(17, 17, 20);
    font-size: 15px;
    margin: 10px;
}

.blog a:hover {
    color: rgb(232, 103, 100);
}

.blog a+p {
    font-size: 15px;
    color: rgba(101, 99, 122, 0.76);
    margin: 10px;
}

.inner-data{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
    content: '';
    inset: 0;
    position: absolute;
    opacity: 0;
    transition: all 1s;
}

.icons{
    width: 30%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons a {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: rgba(231, 89, 70, 0.705);
    border-radius: 50%;
    font-size: 17px;
    color: white;
    padding: 7px 8px;
    opacity: 0;
    transition: all 1s;
}

/* .inner-data a i:hover {
    color: white;
} */

.blog:hover .inner-data{
    opacity: 1;
}

.blog:hover .icons a {
    opacity: 1;
}