* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-color: rgb(240, 240, 240);
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.left-title {
    display: flex;
}

.left-title ul {
    display: inline-block;
    list-style-type: none;
}

.left-title ul li {

    display: inline-block;
}

.right-title ul li a {
    text-decoration: none;
}

.left-title ul li i {
    color: rgb(119, 119, 119);
    padding: 10px 10px;
}

.left-title ul li i:hover {
    color: red;
}

.right-title {
    display: flex;
    position: relative;
    font-size: 15px;

}

.right-title ul {
    display: inline-block;
    list-style-type: none;
}

.right-title ul li {
    display: inline-block;
    padding: 10px 10px;
}

.right-title ul li a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    margin-right: 10px;
}

.right-title ul li a:hover {
    color: red;
}

select {
    border: none;
    color: rgb(119, 119, 119);
    font-size: 15px;

    outline: none;
}

li:last-child::after {
    display: none;
}

.right-title li::after {
    width: 2px;
    height: 13px;
    background-color: rgba(119, 119, 119, 0.411);
    content: '';
    position: absolute;
    margin: 2px 0;
    margin-left: 7px;
}

after:last-child {
    display: none;
}

/*******************************************************/
#main-menu {
    background-color: white;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.left-menu img {
    width: 100%;
    height: 100%;
}

.right-menu ul {
    list-style-type: none;
}

.right-menu > ul >li {
    display: inline-block;
    color: rgb(55, 65, 77);
    padding: 0 15px;
    font-size: 15px;
    position: relative;
}

.right-menu ul li a {
    text-decoration: none;
    color: rgb(55, 65, 77);
}

.right-menu ul li a:hover {
    color: rgb(185, 62, 45);
}

.right-menu ul i {
    color: rgb(185, 62, 45);
    font-size: 24px;
}

.right-menu img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.right-menu>ul> li::after {
    content: '';
    width: 1px;
    height: 80%;
    background-color: rgba(119, 119, 119, 0.411);
    position: absolute;
    top: 2px;
    right: 0;
}
.right-menu>li{
    position: relative;
}
.megamenu,
.megamenu1,
.megamenu2{
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    width: 166px;
    background-color: white;
    z-index: 9;
    position: absolute;
    top: 25px;
    left: 0;
    display: none;

}
.right-menu>ul>li:hover .megamenu,
.right-menu >ul li:hover .megamenu1,
.right-menu>ul li:hover .megamenu2{
    display: block;
}
.megamenu li,
.megamenu1 li,
.megamenu2 li{
    padding: 10px 20px;
}
.megamenu li a{
    font-size: 14px;
}

/********************************************************/
#scroll-menu {
    background-color: rgb(240, 240, 240);
    height: 70px;
}

.scroll-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
}

.scroll-bar {
    width: 230px;
    height: 40px;
    background-color: rgb(231, 90, 72);
    border-radius: 5px;
    position: relative;
    padding: 9px 10px;

}

.scroll-bar a {
    text-decoration: none;
    color: white;
    font-size: 15px;

}

.scroll-bar button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    background-color: white;
    position: absolute;
    top: 13px;
    right: 10px;
}

.scroll-bar button:hover {
    background-color: white;
}

.scroll-bar button i {
    font-size: 12px;
    color: rgb(231, 90, 72);
}

.scroll-menu input {
    padding: 9px 425px 9px 5px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.scroll-menu button1 {
    width: 120px;
    background-color: rgb(231, 91, 73);
    border-radius: 5px;
    padding: 9px 35px;
    color: white;
    font-size: 16px;
}

.scroll-menu button2 {
    width: 159px;
    background-color: rgb(194, 216, 46);
    border-radius: 5px;
    padding: 9px 10px;
    font-size: 15px;
}

.scroll-menu button2 i {
    padding-right: 5px;
    font-size: 20px;
}

.submenu {
    width: 230px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    z-index: 9;
    position: absolute;
    top: 40px;
    left: 0;
    list-style-type: none;
    display: none;
}

.submenu li {
    padding: 10px 0 10px 10px;
    position: relative;
}

.submenu>li {
    position: relative;
}

.scroll-bar ul li a {
    color: black;
}

.submenu li a i {
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 10px;
}

.submenu1,
.submenu2,
.submenu3{
    width: 230px;
    position: absolute;
    top: 0;
    left: 228px;
    list-style-type: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 5px;
    display: none;
}

.submenu li a:hover {
    color: rgb(231, 90, 72);
}

.scroll-bar:hover .submenu,
.submenu>li:hover .submenu1,
.submenu1>li:hover .submenu2,
.submenu2 li:hover .submenu3 {
    display: block;
}


/******************************************************/
.main-decore {
    display: flex;
    justify-content: space-evenly;
    gap: 0 20px;
}

.box1,
.box2 {
    width: 50%;
    height: 620px;
    margin: 50px 0;
}

.box1 {
    border-radius: 5px;
    border: 1px solid rgb(238, 224, 224);
    border-radius: 7px;
    position: relative;
}

.box1 img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    object-position: center center;
}

.item1,
.item2 {
    width: 100%;
    height: 300px;
    border: 1px solid rgb(238, 224, 224);
    border-radius: 7px;
}

.item1 {
    position: relative;
}

.item2 {
    position: relative;
    margin-top: 20px;
}

.item1 img,
.item2 img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    object-position: center center;
}

.inner-data1 {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-data2 {
    width: 50%;
    position: absolute;
    top: 15%;
    left: 10%;
}

.inner-data3 {
    width: 30%;
    position: absolute;
    top: 15%;
    left: 10%;
}

.inner-data1 p,
.inner-data2 p,
.inner-data3 p {
    font-size: 17px;
    color: rgba(101, 99, 122, 0.76);
    font-family: 'Inter', sans-serif;
}

.inner-data1 h1,
.inner-data2 h1,
.inner-data3 h1 {
    font-size: 26px;
    margin-top: 10px;
    color: rgb(46, 46, 46);
    font-family: 'Inter', sans-serif;
}

.inner-data2 button,
.inner-data3 button {
    font-size: 15px;
    padding: 10px 12px;
    background: rgb(231, 90, 72);
    color: white;
    border-radius: 3px;
    border: none;
    margin-top: 30px;
}

button:hover {
    background-color: rgb(185, 62, 45);
}

/**********************************************/
#trending .swiper {
    margin: 50px -10px;
}

.item-box {
    margin: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    text-align: center;

}

.item-img {
    position: relative;
}

.item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.item-box p {
    padding-bottom: 5px;
    font-size: 15px;
}

.item-box a+p {
    color: rgb(232, 103, 100);
    padding-bottom: 20px;
    font-weight: bold;
}

.item-box a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.item-box i {
    font-size: 12px;
    color: rgb(242, 182, 5);
    padding-bottom: 10px;
}

.item-img button {
    width: 45px;
    height: 25px;
    background-color: rgb(232, 103, 100);
    color: white;
    border-radius: 4px;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

.item-img .inner-data1 {
    width: 100%;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
}

.item-img .inner-data1 a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(231, 100, 83);
    padding: 11px 10px;

}

.item-img .inner-data1 i {
    color: white;
}

.item-box:hover .item-img .inner-data1 {
    opacity: 1;
    transition: all 1s;
}

.item-box:hover button {
    opacity: 0;
}

.main-trend .swiper-button-next {
    right: 1px;
    width: 30px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
    color: white;
}

.main-trend .swiper-button-next:hover {
    background-color: rgba(175, 58, 43, 0.822);
}

.main-trend .swiper-button-next:after {
    font-size: 12px;
}

.main-trend .swiper-button-prev {
    left: 1px;
    width: 30px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
    color: white;

}

.main-trend .swiper-button-prev:hover {
    background-color: rgba(175, 58, 43, 0.822);
}

.main-trend .swiper-button-prev:after {
    font-size: 12px;
}




/*************************************************/
.page-blog {
    display: flex;
    gap: 0 20px;
    margin-top: 50px;
}

.blog {
    margin: 0 13px;
    border: 1px solid rgba(158, 154, 154, 0.618);

}

.box-img {
    position: relative;
}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.blog p {
    color: rgb(232, 103, 100);
    font-size: 15px;
    margin: 10px;
}

.blog a {
    text-decoration: none;
    color: rgb(17, 17, 20);
    font-size: 15px;
    margin: 10px;
}

.blog~a:hover {
    color: rgb(232, 103, 100);
}

.blog a+p {
    font-size: 15px;
    color: rgba(101, 99, 122, 0.76);
    margin: 10px;
}

.inner-data {
    height: 98.5%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    inset: 0;
    position: absolute;
    opacity: 0;
    transition: all 1s;
}

.icons {
    width: 30%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons a {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: rgba(231, 89, 70);
    border-radius: 50%;
    font-size: 17px;
    color: white;
    padding: 7px 8px;
    opacity: 0;
    transition: all 1s;
}

.icons a i {
    color: white;
}

.icons a:hover {
    background-color: rgba(175, 58, 43, 0.822);
}

.blog:hover .inner-data,
.blog:hover .icons a {
    opacity: 1;

}

.swiper {
    margin: 0 -14px;
}

.page-blog .swiper-button-next {
    right: 1px;
    width: 30px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
    color: white;
}

.page-blog .swiper-button-next:hover {
    background-color: rgba(175, 58, 43, 0.822);
}

.page-blog .swiper-button-next:after {
    font-size: 12px;
}

.page-blog .swiper-button-prev {
    left: 1px;
    width: 30px;
    height: 30px;
    background-color: rgb(193, 193, 193);
    border-radius: 50%;
    color: white;

}

.page-blog .swiper-button-prev:hover {
    background-color: rgba(175, 58, 43, 0.822);
}

.page-blog .swiper-button-prev:after {
    font-size: 12px;
}

/********************************************************/