* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-slider .abc {
    width: 600px;
    height: 300px;
}

.main-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.swiper-button-prev {

    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

.swiper-button-prev:after {
    font-size: 20px;
    font-weight: bold;
}

.swiper-button-next {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

.swiper-button-next:after {
    font-size: 20px;
    font-weight: bold;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: white;
}

/**************************************************************/
.main-slider1 {
    position: relative;
    height: 100vh;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.main-slider1 .swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
}

.main-slider1 .swiper-slide  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}